# This is an example amatd config file

# everything is optional. Comments show the defaults

[client]
# customer    = Inveneo AMAT Client
# description = Unconfigured Client
# latitude    = 37.7793 
# longitude   = -122.4192 
# host_type   = hub
# opperiod    =
# min_checkin_minutes = 30 
# max_checkin_minutes = 120

[server]
# server   = bb.inveneo.net
# reg_port = 5000

[daemon]
# log_file      = /var/log/amatd.log
# max_log_size  = 5000000
# max_log_count = 4

